@charset "utf-8";

html {
  font-size: 100/375*100vw;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-size: 0.12rem;
  color: #333;
  text-decoration: none;
}

.wrap,
body,
html {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  overflow-y: scroll;
}
@mixin num($w:100%,$h:100%) {
  width: $w;
  height: $h;
}
@mixin flex($row:space-between) {
  display: flex;
  justify-content: $row;
  align-items: center;
}

header {
  height: 1rem;
  display: flex;
  padding: 0 0.15rem;
  justify-content: space-between;
  align-items: flex-start;

  .logo {
    img {
      width: 2.5rem;
      height: auto;
    }
  }

  .h-msg {
    background: #098be1;
    display: flex;
    height: 0.34rem;
    align-items: center;
    padding: 0.04rem 0.14rem;

    span {
      color: #fff;
      height: 0.14rem;

      i.icon {
        color: #fff;
      }
    }

    em {
      height: 0.14rem;
      width: 0.02rem;
      background: #fff;
      margin: 0.04rem 0.05rem 0;
    }
  }
}

section {
  background: #eee;
  flex: 1;
}

.work-list {
  background: #fff;

  li {
    border-top: thin solid #ccc;
    display: flex;
    width: 100%;
    align-items: center;
    height:.32rem;
    &.title {
      background: #a4d1ec;
      span {
        color: #666;
      }
    }

    span {
      a {
        padding: 0.04rem 0.06rem;
        background: #4d9951;
        color: #fff;
      }

      &:nth-of-type(1) {
        flex: 2;
      }

      &:nth-of-type(2) {
        flex: 1;
      }

      &:nth-of-type(3) {
        flex: 2;
      }

      &:nth-of-type(4) {
        flex: 2;
      }

      &:nth-of-type(5) {
        flex: 1;
      }
    }
  }
}

.tip {
  line-height: 0.54rem;
  font-size: 0.26rem;
  padding-left: 0.2rem;
}
/*pc*/
@media screen and (max-width:750px) {
  .nav {
    display: none;
  }

  .copy {
    display: none;
  }

  .work-list {
    width:100%;
    .row,
    .title {
      width: 100%;
      display: flex;
      span {
        flex: 1!important;
      }
    }
  }

  footer {
    @include num(100%,.45rem);
    @include flex(space-around);
    border-top: thin solid #e4e4e4;

    a {
      @include flex(space-around);
      flex-direction: column;

      span {
        font-size: 0.16rem;
      }

      i.icon {
        font-size: 0.2rem;
      }

      &.f-cur {
        i.icon,
        span {
          color: #ffcb05;
        }
      }
    }
  }
}
/*移动端*/
@media screen and (min-width:751px) {
  html {
    font-size: 100px;
  }

  .nav {
    @include num(100%,.45rem);
    @include flex(space-around);
    border-top: thin solid #e4e4e4;
    background: #fafafa;

    a {
      @include flex(center);
      align-items: center;
      flex: 1;
      height: 100%;

      i.icon {
        font-size: 0.2rem;
        margin-right: 0.15rem;
      }

      &.f-cur {
        i.icon,
        span {
          color: #ffcb05;
        }
        border-bottom: #ffcb05 0.03rem solid;
      }
    }
  }

  footer {
    display: none;
  }

  .copy {
    line-height: 0.55rem;
    text-align: center;
  }
}
