<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/stylesheets/front/conmon.css">
    <link rel="stylesheet" href="/stylesheets/front/fonts/iconfont.css">
</head>

<body>
    <div class="wrap">
        <header>
            <div class="logo"><img src="../images/logoPicture.png" alt=""></div>
            <div class="h-msg">
                <span class="name">skk</span><em></em><span class="exit">退出</span>
            </div>
        </header>
        <div class="nav">
            <a class="item f-cur" href="home.html">
                <i class="icon iconfont icon-shouye"></i>
                <span>首页</span>
            </a>
            <a class="item" href="javascript:void(0)">
                <i class="icon iconfont icon-zixun"></i>
                <span>在线刷题</span>
            </a>
            <a class="item" href="errorstore.html">
                <i class="icon iconfont icon-gouwuche"></i>
                <span>错题分析</span>
            </a>
            <a class="item" href="errorstore.html">
                <i class="icon iconfont icon-wode"></i>
                <span>设置</span>
            </a>
        </div>
        <section>
            <div class="tip">历史题库</div>
            <ul class="work-list">
                <li class="title">
                    <span>试题名称</span>
                    <span>考试科目</span>
                    <span>开始时间</span>
                    <span>结束时间</span>
                    <span>开始试题</span>
                </li>
                <li class="row">
                    <span>wangzhan</span>
                    <span>理论</span>
                    <span>0.00</span>
                    <span>30.00</span>
                    <span>开始试题</span>
                </li>
            </ul>
        </section>
        <footer>
            <a class="item f-cur" href="home.html">
                <i class="icon iconfont icon-shouye"></i>
                <span>首页</span>
            </a>
            <a class="item" href="javascript:void(0)">
                <i class="icon iconfont icon-zixun"></i>
                <span>在线刷题</span>
            </a>
            <a class="item" href="errorstore.html">
                <i class="icon iconfont icon-gouwuche"></i>
                <span>错题分析</span>
            </a>
            <a class="item" href="errorstore.html">
                <i class="icon iconfont icon-wode"></i>
                <span>设置</span>
            </a>
        </footer>
        <div class="copy">
            Copyright &copy;北京八维博大科技有限公司
        </div>
    </div>
</body>

</html>